*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root {
      --red: #E3646E;
      --purple: #BB72E9;
      --blue: #3996DB;
      --green: #82BC4F;
      --yellow: #EABD5F;
      --gray-100: #0D0E11;
      --gray-200: #16181D;
      --gray-300: #292C34;
      --gray-400: #878EA1;
      --gray-500: #C0C4CE;
      --gray-600: #E2E4E9;


      --font-family-Asap: "Asap", sans-serif;
      --font-family-Inconsolata: "Inconsolata", monospace;
      --font-family-MavenPro: "Maven Pro", sans-serif;

      --title-lg : 800 56px/120% var(--font-family-Asap);
      --title-md : 800 24px/120% var(--font-family-Asap);
      --title-sm : 800 16px/120% var(--font-family-Asap);
      
      
      --subtitle :  20px/120% var(--font-family-Inconsolata);

      --text-md :  16px/140% var(--font-family-Inconsolata);
      --text-sm :  14px/140% var(--font-family-Inconsolata);
     

}


body {
      font: var(--title-lg);
      color: var(--gray-500);
      background: var(--gray-300);

}

.container {
      max-width: 85.375rem;
      margin: 0 auto;
}

